header{
background-color:rgb(5, 170, 101) ;
color:#FFF8F1;
padding: 10px;
font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
text-align: center;
margin: 0%;
}
nav{
background-color:#FFF8F1;
padding: 10px;
}
nav a{
  color: rgb(0, 0, 0);
    text-decoration: none;
  margin: 0 15px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cover-image {
  width: 100%;
  height: 400px;
  background-image: url('HomeCover.png');
  background-size:cover ;
  background-position: center;
  margin-bottom: 20px;

 display: flex;
   flex-direction: column;
 justify-content: center;
 align-items: center;
    font-size: 24px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFF8F1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.cover-image button {

  padding: 5px 30px;
  font-size: 18px;
  background-color: #05AA65;
  color: white;
  border: none;
  cursor: pointer;
}
.cover-image button:hover {
  background-color: #025834;
}
#categories {
  padding: 40px;
  background-color: #FFF8F1;
  text-align: center;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

#categories h2 {
  margin-bottom: 30px;
}

.category-box {
  display: inline-block;
  width: 160px;
  margin: 10px;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.category-box img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
.category-box p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
}
.category-box:hover {
  transform: scale(1.05);
}
footer {
  background-color: #05AA65;
  padding: 15px 0;
  margin-top: 30px;
}
.footer-links {
  text-align: center;
}
.footer-links a {
  color: #FFF8F1;
  text-decoration: none;
  margin: 0 15px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  font-size: 14px;
}
.footer-links a {
  color: #FFF8F1;
  text-decoration: none;
  margin: 0 15px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  font-size: 14px;
}

